/*
    Styles for the Task item
*/
.taskItem {
    display:block;
    padding:15px;
    background:#fff;
    border-radius:4px;
    border:1px solid #ddd;
    margin-bottom:15px;
    overflow:hidden;
}
.taskItem h3.taskName {
    margin:0;
    font-weight:bold;
    color:#333;
    font-size:18px;
}
.taskItem .taskHeader {
    display:block;
    background:#f9f9f9;
    width:calc(100% + 30px);
    margin-left:-15px;
    margin-right:-15px;
    margin-top:-15px;
    margin-bottom:10px;
    padding:15px;
    border-bottom:1px solid #ddd;
}
.taskItem .taskDetails {
    display:block;
    color:inherit;
    text-decoration:none;
}
.taskItem .taskDetails span {
    display:block;
    font-size:12px;
    color:#666;
}
.taskItem .taskDetails span i {
    opacity:0.35;
}
.taskItem .taskDetails b {
    display:block;
    font-weight:500;
    font-family:'Roboto', sans-serif;
    font-size:14px;
}
.taskItem .taskDetails:hover b,
.taskItem .taskDetails:focus b {
    color:#ED254E;
}
.taskItem .taskDetails b.time {
    font-weight:700;
}

/*
    Sub-styles for the Activity item
*/
.taskItem .taskActivities .activityItem {
    display:block;
    padding: 6px 10px;
    font-size:12px;
}
.taskItem .taskActivities .activityItem:nth-child(2n + 1) {
    background:#f2f3f4;
}
.taskItem .taskActivities .activityItem b {
    font-family:'Roboto', sans-serif;
    font-weight:500;
}
.taskItem .taskActivities .activityItem span {
    color:#555;
}
.taskItem .taskActivities .taskActivitiesContainer {
    width:100%;
    height:auto;
    max-height:150px;
    overflow-x:hidden;
    margin-top:10px;
}